<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Campground</title>
</head>
<body>
    <h1>Add new Campground</h1>
    <a href="/campgrounds/">Back to Campgrounds</a>
    <form method="post" action="/campgrounds/new">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="campground[title]" placeholder="Camp Lazlo">
          </div>
          <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="campground[location]" placeholder="Los Angeles, California">
          </div>
          <button type="submit">Add</button>
    </form>
</body>
</html>